extends layout

block content 
    h1=`Welcome ${user.userName}` 
    table 
        tr  
            th Username
            th Password 
            th Age 
            th Answer 1
            th Answer 2
            th Answer 3 
        each item in users 
            tr 
                td #{item.username}
                td #{item.password}
                td #{item.age}
                td #{item.answer1}
                td #{item.answer2}
                td #{item.answer3}
    h3
        a(href="/updateuser") update